.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: background-color $time-function, opacity $time-function, visibility $time-function;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;

  background: $background-main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 4px;

  padding: 40px;
  transition: transform $time-function;
}
.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  padding: 6px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: border-color $time-function, fill $time-function;
  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}
.modal-form__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: $secondary-text-color;
}
.modal-label__text {
  display: block;
  margin-bottom: 4px;
}
.modal-form__item-box {
  display: block;
  position: relative;
}
.modal-form__input,
.modal-form__textarea {
  outline: none;
  width: 100%;
  height: 40px;

  color: $secondary-text-color;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;

  transition: border-color $accent-color, fill $accent-color;

  &:focus,
  &:focus + .modal-form__icon {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
.modal-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
}

.modal-form__textarea {
  padding: 12px 16px;
  height: 120px;
}
.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.71;

  color: $secondary-text-color;

  margin-bottom: 30px;
}
.label-checkbox__item-visually-hidden {
  @extend %visually-hidden;
}
.label-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid $primary-text-color;
  border-radius: 2px;

  margin-right: 8px;
}
.label-checkbox__item:checked + .label-checkbox__icon {
  background-color: $accent-color;
  background-image: url(../images/check.svg);
  border-color: $accent-color;
}

.label-checkbox__link {
  display: inline-block;
  margin-left: 4px;

  color: $accent-color;
  text-decoration: underline;
}

.modal-form__btn-submit {
  @extend %btn;
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
}
