.header > .container {
  display: flex;
}

.logo {
  @extend %logo;

  &__color {
    color: $accent-color;
  }
}

.menu,
.nav__list,
.contacts__list {
  display: flex;
  align-items: center;
}

.nav__list,
.contacts__list {
  gap: 50px;
}

.nav__list {
  margin-left: 95px;
}

.contacts__list {
  margin-left: auto;
}

.nav__link,
.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  display: inline-flex;
  padding: 32px 0;

  transition: color $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    fill: currentColor;
  }
}
.nav__link-current {
  position: relative;
  color: $accent-color;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  transition: fill $time-function;
}
