.portfolio {
  border-top: 1px solid #ececec;
}
.potfolio__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.filter__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
}
.filter__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  cursor: pointer;

  padding: 6px 22px;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color $time-function, background-color $time-function;
  }
  &-active {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
      0px 2px 2px rgb(0 0 0 / 12%);
  }
}
.examples__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.examples__item {
  transition: box-shadow $time-function;
}
.examples__item:hover,
.examples__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow $time-function;
}

.examples__item:hover .examples__descr,
.examples__item:focus .examples__descr {
  transform: translateY(0);
  transition: transform $time-function;
}
.examples__thumb {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.examples__descr {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  color: $white-color;

  transform: translateY(101%);
  transition: transform $time-function;
}
.examples__footer {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.examples__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $primary-text-color;

  margin-bottom: 4px;
}
.examples__text {
  font-size: 16px;
  line-height: 1.88;

  color: $secondary-text-color;
}
