.customers {
  display: flex;
}
.customers__title {
  @extend %title;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.customers__item {
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}
.customers__link {
  display: flex;
  justify-content: center;
  padding: 13px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color $time-function;

  &:hover {
    border-color: $accent-color;
  }

  &:hover .customers__icon {
    fill: $accent-color;
  }
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill $time-function;
}
