.solutions {
  background: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/effective-solutions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;

  text-align: center;

  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.solutions__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $white-color;

  width: 693px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.solutions__btn{
    padding: 10px 32px;
    @extend %btn;
}