.solutions {
  background: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/efective-solutions/effective-solutions480.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/efective-solutions/effective-solutions480@2x.jpg');
  }

  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    background: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/efective-solutions/effective-solutions.jpg');

    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.solutions__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $white-color;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 693px;
  }
}
.solutions__btn {
  padding: 10px 32px;
  @extend %btn;
}
