.works {
  padding-top: 0;
}

.works__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.works__list {
  display: flex;
  gap:30px;
}

.works__item {
  width: calc((100% - 60px) / 3);
}
.works__thumb {
  position: relative;
}
.works__descr {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}